@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  transition: all ease 0.5s;
  z-index: 99999;
  overflow-y: scroll;
}

.modal__card {
  background-color: #181818;
  color: #fff;
  max-width: 880px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.modal__image {
  width: 100%;
  height: 70vh;
  max-height: 460px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.modal__title-container {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.modal__title {
  margin: 0;
  font-size: 48px;
  font-family: "New Tegomin", serif;
}

.modal__button {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 35px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  transition: all ease 0.2s;
  background-color: #fff;
}

.modal__button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.modal__rating {
  color: #65d45c;
}

.modal__details {
  margin-left: 35px;
  margin-top: 10px;
}

.modal__details h3 {
  display: inline-block;
  margin-left: 15px;
}

.modal__info {
  width: 100%;
  height: 40%;
}

.modal__year,
.modal__seasons {
  font-weight: 400;
}

.modal__description-container {
  display: flex;
}

.modal__description {
  margin-left: 50px;
  margin-right: 50px;
  width: 90%;
}

.modal__description p {
  line-height: 30px;
  margin-top: 0;
  margin-right: 30px;
}

.modal__no-description {
  color: #ddd;
  font-style: italic;
}

.modal__close {
  background-color: #262121;
  display: inline;
  border-radius: 100%;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.modal__close:hover {
  background-color: #626262;
  display: inline;
  border-radius: 100%;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal__close-btn {
  font-size: 14px;
  font-family: "Arial";
  font-weight: 300;
  padding: 4px;
}
