@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  transition: all ease 0.5s;
  z-index: 99999;
}

.modal__card {
  background-color: #181818;
  color: #fff;
  max-width: 880px;
  width: 90%;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-top: 50px;
}

.modal__image {
  width: 100%;
  height: 75%;
  background-size: cover;
  background-position: top;
  position: relative;
}

.modal__title-container {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.modal__title {
  margin: 0;
  font-size: 48px;
  font-family: "New Tegomin", serif;
}

.modal__button {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 35px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: all ease 0.2s;
  background-color: #f00;
}

.modal__button:hover {
  background-color: rgba(255, 0, 0, 0.7);
}
