@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #111;
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.lists {
  margin-top: -150px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-image: url("./images/loading.gif");
  background-size: cover;
}

.loading img {
  width: 100%;
}

@media screen and (max-height: 700px) {
  .lists {
    margin-top: -100px;
  }
}
